*{
    margin: 0;
}
@font-face {
    font-family: "digital";
    src: url('../fonts/digital.ttf');
}
/* main{
    margin: 5% 40%;} */

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    /* margin: 100px 500px; */
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 215px;
    border: 2px solid black;
    background-color: rgb(10, 166, 52);
}
section {
    flex: 1;
    padding-bottom: 10px;
}
button {
    width: 50px;
    height: 50px;
    color: white;
    border: 1px solid black;
    margin: 3px 0;
    cursor: pointer;
}
/* .screen{
    width: 100%;
    height: auto;} */

#screen {
    width: 210px;
    height: 50px;
    border: 2px solid black;
    display: block;
    font-size: 36px;
    text-align: right;
    border-radius: 10px;
    background-color: rgba(84, 84, 84, 0.853);
    font-family: "digital";
    box-sizing: border-box;
    padding: 8px;
}
#keyscreen {
    width: 210px;
    height: 30px;
    border: 2px solid rgb(40, 38, 38);
    display: block;
    font-size: 36px;
    text-align: right;
    border-radius: 10px;
    background-color: rgba(124, 117, 117, 0.853);
    font-family: "digital";
    box-sizing: border-box;
    padding: 8px;
    margin: 10px 0;
}
.purple {
    background-color: rgb(105, 50, 156);
}
.red {
    background-color: rgb(147, 10, 104);
}
.yellow {
    background-color: rgb(209, 128, 14);
}
#ac, #bs {
    width: 50px;
    height: 25px;
    color: rgb(19, 18, 18);
    border: 1px solid black;
}
/* .bs{
    width: 100px;
    height: 25px;
    color: rgb(19, 18, 18);
    border: 1px solid black;
} */
